@import "../../Style/variable.scss";

.section {
    --pt: 40px;
    --pb: 65px;
    padding: var(--pt) 0 var(--pb);
    @include lg {
        --pt: 80px;
        --pb: 80px;
    }
    @include min(1600) {
        --pt: 120px;
        --pb: 170px;
    }
    .purpose_listing {
        display: flex;
        row-gap: 60px;
        flex-wrap: wrap;
        @include min(992) {
            row-gap: 80px;
        }
        > * {
            flex: 0 0 100%;
            width: 100%;
        }
    }
}
