@import "../../Style/variable.scss";

.section {
    --pt: 40px;
    --pb: 40px;
    padding: var(--pt) 0 var(--pb);

    @include lg {
        --pt: 60px;
        --pb: 80px;
    }
    .row {
        --bs-gutter-x: 60px;
        --bs-gutter-y: 60px;
    }
    .category_nav {
        column-gap: 40px;
        overflow: auto;
        scrollbar-width: none;
        margin-bottom: 40px;
        &::-webkit-scrollbar {
            display: none;
        }
        &__item {
            --bs-btn-padding-x: 20px;
            --bs-btn-padding-y: 10px;
            white-space: nowrap;
        }
    }
}
