@import "../../Style/variable.scss";

.section {
    --pt: 40px;
    --pb: 40px;
    padding: var(--pt) 0 var(--pb);

    @include lg {
        --pt: 60px;
        --pb: 80px;
    }
    :global {
        .row {
            --bs-gutter-x: 60px;
            @include min(992) {
                .col-lg-7 {
                    flex: 0 0 62%;
                    width: 62%;
                }
                .col-lg-5 {
                    flex: 0 0 38%;
                    width: 38%;
                }
            }
        }
    }
    .contact_title {
        margin-bottom: 30px;
        @include max(991.98) {
            font-size: size(34);
        }
        @include max(575.98) {
            font-size: size(30);
        }
    }
    .contact_description {
        margin-bottom: 20px;
    }
    .contact_details {
        .detail_item {
            margin-bottom: 10px;
            img {
                margin-right: 10px;
            }
            a {
                &:hover {
                    color: var(--bs-link-hover-color-rgb);
                }
            }
        }
    }
    .contact_bg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(-65%) scale(-1);
        z-index: -1;
        @include max(991.98) {
            display: none;
        }
        + * {
            @include max(991.98) {
                margin-top: 30px;
            }
        }
    }
}
