@import "../../Style/variable.scss";

.kpa_breadcrumbs {
    margin-top: 20px;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #f4f2f1;
    display: inline-block;
    &__wrap {
        background-color: #fff;
    }
    :global {
        .breadcrumb {
            margin-bottom: 0;
            align-items: center;
            .icon-home {
                margin-right: 9px;
            }
        }
        .breadcrumb-item {
            font-size: 15px;
            font-family: var(--ff-tertiary);
            color: #001234;
            a {
                color: inherit;
                font-family: inherit;
                text-decoration: none;
                font-size: inherit;
                transition: 0.3s ease color;
            }
            &.active {
                color: #7e828a;
            }
            &:not(.active) {
                a {
                    &:hover {
                        color: $primary;
                    }
                }
            }
            + .breadcrumb-item {
                &::before {
                    content: url("/images/icon-arrow-right.svg");
                }
            }
        }
    }
}
