@import "../../Style/variable.scss";

.section {
    --pt: 40px;
    --pb: 40px;
    padding: var(--pt) 0 var(--pb);

    @include lg {
        --pt: 60px;
        --pb: 80px;
    }
    :global {
        .row {
            --bs-gutter-x: 60px;
            .col-lg-7 {
                flex: 0 0 62%;
                width: 62%;
            }
            .col-lg-5 {
                flex: 0 0 38%;
                width: 38%;
            }
        }
        .admin-content-area {
            --admin-content-size: 16px;
        }
    }
    .news_detail {
        &__title {
            margin-bottom: 30px;
        }
        &__details {
            gap: 20px;
            margin-bottom: 30px;
            .detail_item {
                color: #7e828a;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        &__image {
            --bs-aspect-ratio: calc(420 / 720 * 100%);
            margin-bottom: 20px;
        }
    }
    .related_stories {
        position: sticky;
        top: calc(var(--pt) / 2 + 86.8px);
        &__title {
            margin-bottom: 20px;
        }
    }
}
