@import "../../Style/variable.scss";

.section {
    --pt: 40px;
    --pb: 40px;
    padding: var(--pt) 0 var(--pb);

    @include lg {
        --pt: 60px;
        --pb: 80px;
    }
    :global {
        .row {
            --bs-gutter-x: 40px;
            @include min(1200) {
                --bs-gutter-x: 60px;
            }
            @include min(992) {
                .col-lg-7 {
                    flex: 0 0 62%;
                    width: 62%;
                }
                .col-lg-5 {
                    flex: 0 0 38%;
                    width: 38%;
                }
            }
        }
        .stroke {
            display: none;
        }
        [class*="DonateForm_section"] {
            padding-top: 0;
            padding-bottom: 0;
            .container {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
                > * {
                    @include max(991.98) {
                        padding: 30px;
                    }
                    .h2 {
                        font-size: size(30);
                    }
                }
            }
        }
        .admin-content-area {
            --admin-content-size: 16px;
        }
    }
    .project_detail {
        &__title {
            margin-bottom: 30px;
            @include max(991.98) {
                font-size: size(34);
            }
            @include max(575.98) {
                font-size: size(30);
            }
        }
        &__details {
            .progress {
                margin-bottom: 40px;
                &_amount {
                    line-height: 1;
                    font-size: size(16);
                    span {
                        font-size: 1rem;
                    }
                }
                &_count,
                &_goal {
                    line-height: 1;
                }
                &_strip {
                    --data-percent: 100%;
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    background-color: #f4f2f1;
                    height: 4px;
                    &__track {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: var(--data-percent);
                        height: 100%;
                        background-color: $primary;
                    }
                }
            }
        }
        &__image {
            --bs-aspect-ratio: calc(420 / 720 * 100%);
            margin-bottom: 20px;
        }
        &__sidebar {
            position: sticky;
            top: calc(var(--pt) / 2 + 86.8px);
            @include max(991.98) {
                margin-top: 40px;
            }
            .related_projects {
                margin-top: 40px;
                &__title {
                    margin-bottom: 20px;
                }
                :global {
                    .row {
                        --bs-gutter-x: 20px;
                    }
                }
            }
        }
    }
}
